.table {
  width: 100%;
  border-collapse: collapse;
}
.table tr td:first-of-type,
.table tr th:first-of-type {
  padding-left: 19px;
}
.table tr td:last-of-type {
  padding-right: 19px;
}

.tableHeader th {
  text-align: left;
  padding-top: 22px;
  padding-bottom: 11px;
}
.profilePicture {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 18px;
}
.profilePicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.emailField {
  display: flex;
  align-items: center;
  padding-right: 40px;
  position: relative;
  top: 7px;
}
.tableBody tr td {
  padding-top: 11px;
  padding-bottom: 11px;
}
.tableBody tr:nth-of-type(odd) {
  background-color: rgba(255, 107, 0, 0.06);
}
.viewButton {
  width: 98px;
  height: 32px;
  border-radius: 7px;
  border: 0px;
  color: white;
  font-weight: bold;
  position: relative;
  bottom: 6px;
  background-color: #ff6b00;
  cursor: pointer;
}
.buttonField {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.profilePicPlaceholder {
  width: 100%;
  height: 100%;
  background-color: rgb(128, 128, 128);
}
.noTableContentBanner {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .noTableContentBanner */