.pageContainer {
  max-width: 1440px;
  margin: 0px auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    height: calc(100vh - 137px);
    position: relative;
    bottom: 67.5px;
  }
  .pageContainer {
    padding-top: 135px;
  }

}
@media screen and (min-width: 1280px) {
  .container {
    padding-right: 60px;
  }
}